.project__details {
    padding: 2em;
}

.project__details h1,
.project__details h2,
.project__details p {
    margin-bottom: 0.5em;
}
.project__details h1 {
    background-color: #222;
    color: #ffbb33;
}

.project__info {
    width: 100%;
}

.project__info h1 {
    text-align: center;
    padding: 0;
}

.project__info p {
    font-size: 1.2em;
}

.details__container,
.services__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5em 0;
    border-bottom: 1px solid #7a7a7a7a;
}

.button {
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: 0.5s;
    background-color: #ffbb33;
    color: #222;
}

.button:hover {
    background-color: #222;
    color: #ffbb33;
}
.center {
    display: flex;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.column h1{
    text-align: center;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
